<meta charset="utf-8" />
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<title itemprop="name">{{meta_title}}</title>
<meta content="{{meta_description}}" name="description" />
<meta content="width=device-width, initial-scale=1, minimal-ui" name="viewport" />
<meta content="" name="google-site-verification" />
<meta content="{{meta_title}}" property="og:title" />
<meta content="{{url}}" property="og:url" />
<meta content="{{meta_description}}" property="og:description" />
<meta content="{{@blog.cover}}" property="og:image" />
<meta content="yes" name="mobile-web-app-capable" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="{{meta_title}}" name="apple-mobile-web-app-title" />
<meta content="{{@blog.logo}}" name="msapplication-TileImage" />
<meta content="" name="msapplication-TileColor" />
<link href="{{@blog.logo}}" rel="shortcut icon" sizes="196x196" />
<link href="{{@blog.logo}}" rel="apple-touch-icon-precomposed" sizes="144x144" />
<link href="{{@blog.logo}}" rel="apple-touch-icon-precomposed" sizes="114x114" />
<link href="{{@blog.logo}}" rel="apple-touch-icon-precomposed" sizes="72x72" />
<link href="{{@blog.logo}}" rel="apple-touch-icon-precomposed" />
<link href="{{@blog.logo}}" rel="shortcut icon" />
